{% extends "base.html" %}

{% block body %}

<h1>회원 가입</h1>
    <input type = "text" id="username">
    <input type = "text" id="e-mail">
    <input type = "password" id="password">
    <button id = "register"> Register </button>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZCcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJO="
            crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
        $('#register').click(function() {
            $.post('/apis/vw/users/create/',{'username': $('#username').val(), 'email': $('#email').val(), 'password': $('#password').val()
            alert('가입을 환영합니다.');
            }).fail(function(data){
            alert(data.responseJSON.message);
            });
        });
        });
    </script>

{% endblock %}